# This file is a summary of every env variable used, including a default value for development

#! Do not include real API keys here, copy this file with 'cp .env.example .env'
#! as '.env' is ignored by git

# Django env variables
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Postgres env variables
POSTGRES_DB=music-room
POSTGRES_USER=music-room
POSTGRES_PASSWORD=music-room
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
