# This file is a summary of every env variable used, including a default value for development

#! Do not include real API keys here, copy this file with 'cp .env.example .env'
#! as '.env' is ignored by git

# Front-end URL (Development - Expo Web / Production - Our Domain)
FRONTEND_URL=http://localhost:19006

# Google OAuth configuration
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id

# Google SMTP configuration for 2FA
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_mailer@gmail.com
EMAIL_HOST_PASSWORD=your keyx xxxx xxxx
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=hello@musicroom.com

# Django env variables
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Postgres env variables
POSTGRES_DB=music-room
POSTGRES_USER=music-room
POSTGRES_PASSWORD=music-room
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
